body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.pluginList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.pluginList>* {
    flex: 1 0 30%;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    grid-row: 1 / span 2;
    position: relative;
}

img.outdated {
    position: absolute;
    z-index: 99;
}

.plugin {
    background-color: #666;
    margin: 15px;
    display: grid;
    grid-template-columns: 60px auto auto;
    grid-template-rows: min-content min-content min-content min-content;
    padding: 15px;
    border-radius: 5px;
}

.outdated {
    opacity: .7;
}

.Punchline,
.Description {
    grid-column-start: 2;
}

.Punchline {
    font-weight: bold;
    margin-bottom: 25px;
}

.Tags {
    grid-row-start: 4;
    grid-column: 2 / span 2;
    padding-left: 0;
}

.Tags>li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: lightgray;
    color: gray;
    margin-bottom: 5px;
}

.Name {
    grid-column: 2;
    font-weight: bold;
    font-size: 1.5rem;
}

.Name>a {
    color: white;
}

.Author {
    justify-self: right;
    font-weight: bold;
}

/*.outdated .Name>a {
    color: orange !important;
}*/

h1,
h2 {
    color: #2f89d6;
    width: 97%;
    flex: none !important;
    font-weight: normal;
    margin: 5px;
}

h2 {
    color: #606c71;
}

.reason {
    font-size: 1.2rem;
}