:root {
    --fg: light-dark(black, #e0e0e0);
    --bg: light-dark(white, #303030);
    --plugin-bg: light-dark(#e8e8e8, #202020);

    color-scheme: light dark;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    font-size: 16px;
    margin-left: calc(100vw - 100%);  /* scrollbar sized margin; prevents scrollbar jump */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px;
    color: var(--fg);
    background-color: var(--bg);
}

body > header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    max-width: 1200px;
    background-color: var(--bg);
    z-index: 100;
}

body > header::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(to bottom, var(--bg), transparent);
    pointer-events: none;
}

body > header .right {
    position: relative;
    display: flex;
    gap: 10px;
    flex-shrink: 1;
    min-width: 0;
}

body > header .right button {
    border: none;
    background: transparent;
    cursor: pointer;
}

body > header .right button:active {
    transform: translateY(1px);
}

#search {
    flex: 1 1 0;
    min-width: 50px;
    max-width: 200px;
    padding: 3px 7px;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: var(--bg);
}

body.loading > main {
    display: none;
}

body.loading::after {
    content: '';
    display: flex;
    width: 75px;
    height: 75px;
    margin-top: 100px;
    border: 4px dashed var(--fg);
    border-radius: 50%;
    animation: 1.5s linear loading infinite;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin-top: 1rem;
}

main > h2 ~ h2 {
    margin-top: 80px;
}

h1 {
    margin: 0.25em 0;
    font-size: 1.3rem;
    white-space: nowrap;
}

h2 {
    position: sticky;
    top: 0.25em;
    width: 50%;
    margin: 0;
    font-size: 1.3rem;
    font-weight: normal;
    white-space: nowrap;
    background-color: var(--bg);
    z-index: 101;
}

h3 {
    margin: 0;
    font-size: 1.3rem;
}

p {
    margin: 0.5em 0;
}

.plugin-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    list-style-type: none;
}

.plugin-list > li {
    --icon-offset: calc((50px - 1.3rem) / 2);

    position: relative;
    width: calc(50% - 15px);
    padding: 20px;
    background: var(--plugin-bg);
    clip-path: border-box;
}

/* plugin type "ribbon" */
.plugin-list > li.ribbon::before {
    content: attr(data-type);
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 25px;
    padding: 2px 0;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #80e080;
    box-shadow: 0px 2px 3px 0 #0004;
    transform: rotate(-45deg);
    transform-origin: 75px 75px;
    z-index: 20;
}

.plugin-list > li.hidden {
    display: none;
}

.plugin-list header {
    position: relative;
    display: flex;
    align-items: end;
    gap: 20px;
    margin-top: calc(var(--icon-offset) * -1);
    margin-bottom: 30px;
}

.plugin-list h3 {
    flex: 1 1 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plugin-list img {
    top: var(--icon-offset);
    width: 50px;
    height: 50px;
}

.plugin-list img.icon {
    position: relative;
    background-color: light-dark(#0008, transparent);
}

.plugin-list img.outdated {
    position: absolute;
    left: 0;
    z-index: 10;
}

.plugin-list .punchline {
    font-weight: bold;
}

.plugin-list .hint {
    font-style: italic;
}

.plugin-list > li > div + div {
    margin-top: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.tags > li {
    padding: 2px 10px;
    font-size: 0.9rem;
    border-radius: 15px;
    color: white;
    background-color: #6486b7;
}

/**
 * plugin type specific styles
 */
.plugin-list > li.obsolete::before {
    background-color: #5ba3f7;
}

.plugin-list > li.adoptable::before {
    background-color: #61bf5c;
}

.plugin-list > li.stale::before {
    background-color: #e39b42;
}

.plugin-list > li.discontinued::before {
    background-color: #5ba3f7;
}

.plugin-list > li.outdated::before {
    background-color: #e39b42;
}

.plugin-list > li.banned::before {
    background-color: #da5656;
}

.plugin-list a.testing::after {
    content: ' (Testing Exclusive)';
}

/**
 * responsiveness/media queries
 */

/* add some padding to the body when the content shrinks with it */
@media (max-width: 1240px) {
    html {
        margin-left: initial;
    }

    body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* single column below a certain page width */
@media (max-width: 900px) {
    .plugin-list > li {
        width: 100%;
    }
}
